# NEXT_PUBLIC_VALID_USERNAME =""
# NEXT_PUBLIC_VALID_PASSWORD =""
# NEXT_PUBLIC_NEXTAUTH_SECRET = ""



# NEXT_PUBLIC_AWS_ACCESS_KEY_ID=""
# NEXT_PUBLIC_AWS_SECRET_ACCESS_KEY=""
# NEXT_PUBLIC_S3_BUCKET_NAME = ""
# NEXT_PUBLIC_AWS_REGION = ""


# NEXT_PUBLIC_CLOUD_VISION_API_KEY = ""

# OPENAI_API_KEY = ""

#######CURRENT EMPLEMENT ############


NEXTAUTH_SECRET=""
OPENAI_API_KEY =""
VALID_USERNAME=""
VALID_PASSWORD=""
ACCESS_KEY_ID_AWS=""
SECRET_ACCESS_KEY_AWS=""
S3_BUCKET_NAME=""
REGION_AWS=""
CLOUD_VISION_API_KEY=""
MONGODB_URI=""

